<!-- app/views/pages/home.html.erb -->
<h2> Welcome! </h2>

<div class="col">
  <%= link_to 'Submit a Report', new_report_path, :class => 'btn btn-danger col-2' %>
  <br>
  <br>
  <%= link_to 'Manager Login', reports_path, :class => 'btn btn-success col-2' %>
</div>