<!-- app/views/pages/home.html.erb -->



<div class="center-screen">
  <h1 class="text-columbia"> Welcome! </h1>
  <br>
  <div class="display-inline">
    <%= link_to 'Submit a Report', new_report_path, :class => 'btn btn-columbia col-4' %>
    <%= link_to 'Manager Login', login_path, :class => 'btn btn-columbia col-4' %>
  </div>
</div>