<!-- app/views/pages/home.html.erb -->
<h2> Welcome! </h2>

<div class="row">
  <%= link_to 'Report', new_report_path, :class => 'btn btn-primary col-2' %>
  <%= link_to 'Manage Reports', reports_path, :class => 'btn btn-danger col-2' %>
  <%= link_to 'Generate QR Code', generate_qr_code_path, :class => 'btn btn-primary col-2' %>
</div>